<svg
  width='12'
  height='12'
  viewBox='0 0 13 13'
  fill='none'
  xmlns='http://www.w3.org/2000/svg'
  ><title>Close Navigation</title><path
    d='M7.65636 6.5L12.26 11.1036C12.42 11.2636 12.5 11.4564 12.5 11.6818C12.5 11.9073 12.42 12.1 12.26 12.26C12.1 12.42 11.9073 12.5 11.6818 12.5C11.4564 12.5 11.2636 12.42 11.1036 12.26L6.5 7.65636L1.89636 12.26C1.73636 12.42 1.54364 12.5 1.31818 12.5C1.09273 12.5 0.9 12.42 0.74 12.26C0.58 12.1 0.5 11.9073 0.5 11.6818C0.5 11.4564 0.58 11.2636 0.74 11.1036L5.34364 6.5L0.74 1.89636C0.58 1.73636 0.5 1.54364 0.5 1.31818C0.5 1.09273 0.58 0.899999 0.74 0.739999C0.9 0.58 1.09273 0.5 1.31818 0.5C1.54364 0.5 1.73636 0.58 1.89636 0.739999L6.5 5.34364L11.1036 0.739999C11.2636 0.58 11.4564 0.5 11.6818 0.5C11.9073 0.5 12.1 0.58 12.26 0.739999C12.42 0.899999 12.5 1.09273 12.5 1.31818C12.5 1.54364 12.42 1.73636 12.26 1.89636L7.65636 6.5Z'
    fill='#212529'
    stroke='#212529'
    stroke-width='0.5'></path></svg
>
