@font-face {
  font-family: 'Neue Montreal';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/NeueMontreal-Light.woff2) format('woff2');
}
@font-face {
  font-family: 'Neue Montreal';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/NeueMontreal-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Neue Montreal';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/NeueMontreal-Medium.woff2) format('woff2');
}

html {
  @apply xl:text-[62.5%] lg:text-[56.25%] text-[50%];
}
body {
  @apply font-neue-montreal text-black bg-white leading-none overflow-x-hidden;
}
h1 {
  @apply text-display-large;
}
h2 {
  @apply text-display-medium;
}
h3 {
  @apply text-display-small;
}
img,
video,
iframe {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  object-position: top center;
}
@media (min-width: 1024px) {
  .text-body-large {
    font-size: 2rem;
  }
  .text-title-large {
    font-size: 2.66667rem;
  }
}
@media (min-width: 1280px) {
  .text-body-large {
    font-size: 1.8rem;
  }
  .text-title-large {
    font-size: 2.4rem;
  }
}
