---
import Section from '../../layouts/section.astro';
import Button from '../atoms/button.astro';
---

<Section py={16}>
  <h1 class='h1 tracking-[-0.02rem]'>
    DevOps Engineer,
    <br />
    AWS Enthusiast
  </h1>

  <p class='about'>
    I'm Nischal Shakya, a DevOps Engineer with a focus on AWS — I'm dedicated to
    optimizing software development processes for efficient and seamless
    operations.
  </p>

  <Button
    as='a'
    role='button'
    href='/about'
    icon='right-arrow'
    iconSize={'h-2 w-2'}
  >
    ABOUT ME
  </Button>
</Section>

<style>
  .h1 {
    margin-block-end: 4.8rem;
    line-height: 1.05;
  }
  .about {
    margin-block-end: 9.6rem;
    max-inline-size: 48ch;
    font-size: 2.4rem;
    line-height: 1.6;
    letter-spacing: 0.5px;
  }
</style>
