---
import Section from '../../layouts/section.astro';
import List from '../molecules/list.astro';
import Button from '../atoms/button.astro';
import SectionName from '../atoms/section-name.astro';
import { getAllData as getAllRoles } from '../../services/data';

interface Experience {
  title: string;
  metadata: {
    company: string;
    description: string;
  };
}
const roles: Experience[] = await getAllRoles('job-roles', 'title,metadata', 3);
const colors = [
  'text-ref-green-60',
  'text-ref-secondary-60',
  'text-ref-tertiary-60',
];
---

<Section bg={'bg-ref-secondary-99'}>
  <SectionName>Work Experience</SectionName>
  <h2 class='h2'>
    Different Role involvements
    <br />
    in the past
  </h2>
  <div class='grid grid-cols-responsive-grid gap-x-[10.66rem] gap-y-4'>
    {
      roles.map(({ title, metadata: { company, description } }, index) => (
        <List
          number={`0${index + 1}`}
          color={colors[index]!}
          company={company}
          role={title}
        >
          {description}
        </List>
      ))
    }
  </div>
  <Button icon='right-arrow' class='mx-auto' iconSize={'h-2 w-2'}>
    View all Roles
  </Button>
</Section>

<style>
  .h2 {
    margin-block-end: 6.4rem;
  }
  .grid {
    margin-block-end: 9.6rem;
  }
</style>
