---
import { Icon } from 'astro-icon';

const year = new Date().getFullYear();
---

<footer class='py-[3.2rem] border-t-2 border-solid border-black'>
  <div class='grid gap-y-2 lg:grid-cols-3 justify-center containers mx-auto'>
    <a
      href='/'
      class='justify-self-center lg:justify-self-start'
      aria-label='Portfolio logo'
    >
      <Icon name='full-logo' class='w-[160px] h-auto' />
    </a>
    <span class='text-headline-medium lg:justify-self-center tracking-wide'>
      Created by
      <span class='border-b border-black border-solid'>Nischal Shakya</span
      ></span
    >
    <span class='text-headline-medium lg:justify-self-end tracking-wide'>
      &copy; {year} All rights reserved.</span
    >
  </div>
</footer>

<style>
  .containers {
    padding-inline: 4vw;
    max-width: 153.6rem;
  }
  @media (min-width: 153.6rem) {
    .containers {
      padding-inline: 0;
    }
  }
</style>
