---
import Section from '../../layouts/section.astro';
import Button from '../atoms/button.astro';
---

<Section class='text-center'>
  <h2 class='text-[7.2rem] h2'>Want to know me more?</h2>

  <Button as='a' href='mailto:nischalshakya2015@gmail.com' role='button'>
    GET IN TOUCH
  </Button>
</Section>

<style>
  .h2 {
    margin-block-end: 5.6rem;
  }
</style>
