---
import { frontmatter } from '../content/seo/articles.md';
import { getCollection } from 'astro:content';
import PageLayout from '../layouts/page-layout.astro';
import Section from '../layouts/section.astro';
import Card from '../components/molecules/card.astro';
import Button from '../components/atoms/button.astro';

const articles = await getCollection('articles');
---

<PageLayout meta={frontmatter}>
  <Section>
    <h1 class='text-center'>Articles</h1>
    <h2 class='text-center text-display-small tracking-wide h2 text-gray'>
      Unleashing the power of words
    </h2>
    <div
      class='grid grid-cols-1 gap-x-2 gap-y-4 projects md:grid-cols-2 articles'
    >
      {
        articles.map(({ data }) => (
          <Card
            title={data.title}
            subtitle={data.subtitle}
            images={[
              {
                src: data.imageSlide,
                alt: data.imageSlideAlt,
                loading: 'lazy',
              },
              {
                src: data.imageShow,
                alt: data.imageShowAlt,
              },
            ]}
          />
        ))
      }
    </div>
    <div class='flex justify-center'>
      <Button
        as='a'
        role='button'
        href='https://medium.com/@nischalshakya2015'
        icon='right-arrow'
        iconSize={'h-2 w-2'}
        target='_blank'
        rel='noopener noreferrer'
      >
        VIEW ALL ARTICLES
      </Button>
    </div>
  </Section>
</PageLayout>

<style>
  .h2 {
    margin-block-start: 0.4rem;
    margin-block-end: 9.6rem;
  }
  .articles {
    margin-block-end: 9.6rem;
  }
</style>
