---
import Layout from '../layouts/layout.astro';
import Experience from '../components/sections/experience.astro';
import '../styles/global.css';
---

<Layout title="Nischal Shakya">
	<main>
		<Experience />
	</main>
</Layout>
