---
import { Icon } from 'astro-icon';
import Menu from '../../icons/menu.astro';
import IconButton from '../atoms/icon-button.astro';
import NavLink from '../atoms/nav-link.astro';
import MobileNavbar from './mobile-navbar.astro';
import SocialCollection from './social-collection.astro';
---

<header class='header' id='header'>
  <nav class='flex items-center justify-between containers mx-auto'>
    <div class='flex items-center gap-3'>
      <div>
        <a href='/'>
          <Icon name='full-logo' class='w-[160px] h-auto' />
        </a>
      </div>
      <nav class='hidden lg:block'>
        <ul
          class='flex gap-[2.8rem] text-headline-small font-montserrat font-medium'
        >
          <NavLink href='/'>Home</NavLink>
          <NavLink href='/about'>About</NavLink>
          <NavLink href='/projects'>Projects</NavLink>
          <NavLink href='/articles'>Articles</NavLink>
        </ul>
      </nav>
    </div>
    <div class='gap-[2.8rem] items-baseline hidden lg:flex'>
      <SocialCollection />
    </div>
    <IconButton
      label='Open Menu'
      id='menu-button'
      class='-translate-y-[4px] -translate-x-[10px] lg:hidden'
    >
      <Menu />
    </IconButton>
  </nav>
  <MobileNavbar />
</header>

<style>
  .header {
    padding-block: 2.4rem;
  }
  .containers {
    padding-inline: 4vw;
    max-width: 153.6rem;
  }
  @media (min-width: 153.6rem) {
    .containers {
      padding-inline: 0;
    }
  }
</style>
