---
import { SEO } from '../config.mjs';
import MetaSeo from '../components/common/meta-seo.astro';
import Navbar from '../components/molecules/navbar.astro';
import ToggleScript from '../components/common/toggle-script.astro';
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <MetaSeo {...SEO} />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      rel='preload'
      as='style'
      href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap'
    />
    <link
      rel='preload'
      as='style'
      href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=optional'
    />
    <link
      href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap'
      rel='stylesheet'
      media='screen'
    />
    <link
      href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=optional'
      rel='stylesheet'
      media='screen'
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <ToggleScript />
  </body>
</html>
