---
import Navbar from '../components/molecules/navbar.astro';
import ToggleScript from '../components/common/toggle-script.astro';
import Footer from '../components/sections/footer.astro';
import Layout from './base-layout.astro';
import type { MetaSeoProps } from '../types';

const { meta } = Astro.props as MetaSeoProps;
---

<Layout {meta}>
  <Fragment slot='font'>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      rel='preload'
      as='style'
      href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap'
    />
    <link
      rel='preload'
      as='style'
      href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=optional'
    />
    <link
      href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap'
      rel='stylesheet'
      media='screen'
    />
    <link
      href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=optional'
      rel='stylesheet'
      media='screen'
    />
  </Fragment>

  <Navbar />
  <main>
    <slot />
  </main>
  <ToggleScript />
  <Footer />
</Layout>
