---
import Navbar from '../components/molecules/navbar.astro';
import ToggleScript from '../components/common/toggle-script.astro';
import BaseLayout from './base-layout.astro';
import type { MetaSeo } from '../types';
import Footer from '../components/sections/footer.astro';

interface Props {
  meta: MetaSeo;
}

const { meta } = Astro.props as Props;
---

<BaseLayout meta={meta}>
  <Navbar />
  <main>
    <slot />
  </main>
  <Footer />
  <ToggleScript />
</BaseLayout>
