---
import Navbar from '../components/molecules/navbar.astro';
import ToggleScript from '../components/common/toggle-script.astro';
import Footer from '../components/sections/footer.astro';
import Layout from './base-layout.astro';
import type { MetaSeoProps } from '../types';

const { meta } = Astro.props as MetaSeoProps;
---

<Layout {meta}>
  <Fragment slot='font'>
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
  </Fragment>

  <Navbar />
  <main>
    <slot />
  </main>
  <ToggleScript />
  <Footer />
</Layout>
