---
interface Props {
  py?: number;
  class?: string;
}

const { py, class: className = '' } = Astro.props as Props;
const paddingBlock = py ? `py-[${py}rem]` : 'py-[9.6rem]';
---

<section class={`${paddingBlock} ${className}`}>
  <div class='containers ps-[4vw] pe-[4vw] m-auto'>
    <slot />
  </div>
</section>

<style>
  .containers {
    max-width: 153.6rem;
  }
  @media (min-width: 153.6rem) {
    .containers {
      padding-inline: 0;
    }
  }
</style>
