---
interface Props {
  py?: number;
  class?: string;
}

const { py, class: className } = Astro.props as Props;
const paddingBlock = py ? `${py}rem` : '9.6rem';
---

<section class={`section ${className}`}>
  <div class='containers ps-[4vw] pe-[4vw] m-auto'>
    <slot />
  </div>
</section>

<style define:vars={{ paddingBlock }}>
  .section {
    padding-block: var(--paddingBlock);
  }
  .containers {
    max-width: 153.6rem;
  }
  @media (min-width: 153.6rem) {
    .containers {
      padding-inline: 0;
    }
  }
</style>
