---
interface Props {
  py?: number;
  bg: string;
}

const { py, bg } = Astro.props as Props;
const paddingBlock = py ? `${py}rem` : '9.6rem';
---

<section class={`${bg} section`}>
  <div class='container m-auto'>
    <slot />
  </div>
</section>

<style define:vars={{ paddingBlock }}>
  .container {
    padding-inline: 2.4rem;
  }
  .section {
    padding-block: var(--paddingBlock);
  }
  @media (min-width: 1024px) {
    .container {
      padding-inline: 3.2rem;
    }
  }
  @media (min-width: 1280px) {
    .container {
      padding-inline: 5.33rem;
    }
  }
</style>
